/*
 Theme Name:   Twenty Fourteen bbartosch
 Description:  Twenty Fourteen Child Theme
 Author:       Benjamin Bartosch
 Template:     twentyfourteen
 Version:      0.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         proofofconcept, responsive
 Text Domain:  twenty-fourteen-child
*/

/* The animation code */
@keyframes glow {
    from {background-color: #fef;}
    to {background-color: #0e0;}
}

/* The element to apply the animation to */
article p {
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}