/*
 Theme Name:   Twenty Fourteen Child MKMK
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fourteen Child Theme
 Author:       Matthias Klenk
 Author URI:   https://www.matthiasklenk.de
 Template:     twentyfourteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fourteen-child
*/

.site-title a,
.site-title a:hover {
    /*color: #fff;*/
    color: rgb(176, 73, 122);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
